<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自定义事件</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- <basic-component v-model="test" @click.native="clickHandler"></basic-component> -->
    <!-- <basic-component v-model="test" @click="innerClick"></basic-component> -->
    <!-- <basic-component :title.sync="title"></basic-component> -->
    <basic-component v-bind.sync="content"></basic-component>
  </div>
  <script>
    /**
     * 自定义事件
     */
    // 当组件需要修改父层控管的数据（这些数据通过 props 传递进来）时，基于单项数据流不能在组件内进行修改，而是需要通过 $emit('eventName', value) 「打出」自定义的事件，通知父层进行数据修改，其中 value 是传递需要变动的数据

    // 自定义事件名使用推荐实用 kebab-case 方式（因为与组件和 prop 名称不同，Vue 不会对事件名进行任何大小写转换），以便于 HTML 正确识别
    // 编程中的命名方式
    // 1. camel case 小驼峰式，首字母小写 camelCase
    // 2. kebab case 短横线，kebab-case
    // 3. pascal case 大驼峰式，首字母大写，PascalCase
    // 4. snake case 下划线，snake_case

    // Vue 对于具有表单元素的组件，在引用时支持使用 v-model 实现类似「双向绑定」的效果。！！！但其原理实际上还是基于 prop 和 $emit，数据的修改还是在父层完成，只不过在引用组件时如果使用 v-model="variable"，就会将默认以名为 value 的 prop 作为绑定 variable 变量，input 事件作为默认监听的事件。
    // 相应地，组件在定义组件时要进行恰当的设置。需要设置名为 value 的 prop，并将其绑定为组件内部的表单元素的 value，以便于与父元素的数据相同步；同时在组件内使用 $emit('input', event.target.value) 通过「打出」 input 事件来向父层传递数据。
    // 通过遵守这种设置，可以在引用子组件时以 v-model 的方式，方便地实现数据从父组件传递给子组件，并将用户输入改动 $emit 给父组件进行修改，而不需要分别设定绑定的参数（作为 prop）和监听的事件（子组件以 $emit 事件的方式来传递的数据）。
    // 如果需要绑定的 prop 名称不是 value，且监听的事件不是 input，可以在组件中配置属性 model，例如表单为 checkbox，需要绑定的是 checked，触发的事件是 change
    // 在子组件定义时配置属性：
    // model： {
    //   prop: 'checked',
    //   event: 'change'
    // }
    // 然后在引用子组件时，也可以直接使用 v-model 实现数据的双向绑定，父组件传递的数据就会变成通过 checked 这个 prop 来传递；父组件监听的事件变成 change

    // 有时候希望在引用组件时才添加事件监听，但所有在其上所监听的事件都被认为是自定义事件（即监听从子组件 $emit 出来的事件），如果希望监听 JS 预设的原生事件，如 click、focus 等，需要在其后添加 .native 修饰符
    // 如果希望在引用组件时添加事件监听，但又不是添加到组件的根元素上，而是添加到组件内的特定元素上，可以在组件中配置属性 inheritAttrs: false，并在模板非根元素的标签上使用 v-on="$listener"，将引用组件时才设置的事件监听器都指向该特定元素

    // 数据传递是通过 prop 和监听事件完成的，Vue 除了对于含有表单元素的组件提供 v-model 这一简洁方法实现类似于「双向绑定」的效果；还为一般的组件提供 .sync 修饰符，实现类似于「双向绑定」的效果。在引用组件设置 prop 时，如果在 v-bind:propName.sync="variable" 后添加 .sync 修饰符，就可以省略了监听事件和在父层设置 eventHandler 处理事件的这一步，Vue 会帮我们自动监听子组件使用 `this.$emit('update:propName', newValue)` 「打出」的事件（事件以特定模式 update:propName 命名)，然后在父层进行数据更新。
    // 而且可以针对多个参数，v-bind.sync="obj"，其中对象 obj 的每一个 property 都作为一个独立的 prop 传进去，然后各自添加用于更新的 v-on 监听器。

    Vue.component('BasicComponent', {
      // props: ['value'],
      props: {
        active: {
          type: Boolean,
          default: false
        },
        title: {
          type: String,
          required: true
        },
        description: {
          type: String,
          required: true
        }
      },
      model: {
        prop: 'active',
        event: 'component-event'
      },
      // template: `
      //   <div class="basic-component" >
      //     <input type="text" :value="value" @input="inputHandler"/>
      //   </div>
      // `,
      // template: `
      //   <div class="basic-component" @click="clickHandler">
      //     BaseComponent
      //   </div>
      // `,
      inheritAttrs: false,
      // template: `
      //   <div>
      //     <p>输入</p>
      //     <p v-on="$listeners">inner</p>
      //   </div>
      // `,
      template: `
       <div class="basic-component" @click="changeTitle">
          {{ title }} {{ description }}
        </div>
      `,
      methods: {
        // clickHandler() {
        //   this.$emit('component-event', !this.active)
        // }
        // inputHandler(event) {
        //   this.$emit('input', event.target.value)
        // }
        changeTitle() {
          this.$emit('update:title', 'Hi');
          this.$emit('update:description', 'BenThomson');
        }

      }
    })

    new Vue({
      el: '#app',
      data() {
        return {
          test: true,
          value: '',
          content: {
            title: "Hello",
            description: "Ben"
          }
        }
      },
      methods: {
        clickHandler() {
          console.log('basic component clicked');
        },
        innerClick() {
          console.log('inner')
        }
      }
    })
  </script>
</body>

</html>